.promo__photo {  
  border-radius: 1.1rem 1.1rem;  
  display: block;
  @include media-mobile {
    display: none;
  }
}

.info__img {
  max-width: 34%;
  margin: auto;
  img {
    width: 270px;
    height: 270px;
  }
  
  @include media-mobile {
    display: none;
  }
}