html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', Verdana, sans-serif;
}

.logo {
  background-image: url(../images/logo/rs_school_js.svg);
  width: 5.2rem;
  height: 2rem;
  display: inline-block;
  background-color: rgb(10, 2, 23);
}
