/** {
  margin: auto;
  padding: 0;
}*/

html {
  font-size: 10px;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', Verdana, sans-serif;  
  margin: auto;
}

h1 {  
  @include font($size: 4.8rem, $weight: bold);
  color: $color-h;
}

h2 {
  @include font($size: 3rem);   
  color: $color-h;
}

.type {
  @include font($size: 1.6rem, $weight: bold);
  color: $color-text;
}

p {
  @include font($size: 1.6rem);
  color: $color-text;
}

