.layout-2-column {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;    
  >* {
    flex-basis: 50%;
  }  
}

.info__about, .info__code, .info__projects, .info__img {
  padding: 0 2rem 0 4rem;
}